#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "GPS module"

config GPS_MODULE
	bool ""
	default y

if GPS_MODULE

config GPSTHREAD_STACK_SIZE
	int ""
	default 1024

config GPS_DEV_NAME
	string "GPS device name"
	default "NRF9160_GPS"

endif

endmenu # GPS module

menu "Modem module"

config MODEM_MODULE
	bool
	default y

if MODEM_MODULE

config MODEMAUTO_REQUEST_POWER_SAVING_FEATURES
	bool "Request LTE power saving features when establishing a LTE link"
	default y

config MODEMTHREAD_STACK_SIZE
	int ""
	default 1024

config EXPECTED_MODEM_FIRMWARE_VERSION
	string "The expected modem firmware version"
	default "mfw_nrf9160_1.2.2"

endif

endmenu # Modem module

menu "Cloud module"

config CLOUD_MODULE
	bool ""
	default y

if CLOUD_MODULE

config CLOUDTHREAD_STACK_SIZE
	int ""
	default 6000

config USE_CUSTOM_MQTT_CLIENT_ID
	bool "Use custom MQTT client ID"
	help
	  By default the device's IMEI is used as the client ID
	  for the MQTT connection. This allows to use a fixed
	  value instead. This is mostly useful when providing
	  firmware builds to continuous integration tests on
	  real hardware.
	  Note: you must only run this firmware build on one
	  device at a time.

config MQTT_CLIENT_ID
	depends on USE_CUSTOM_MQTT_CLIENT_ID
	string	"Configures the custom MQTT client ID"
	default "yoghurt"

config CLOUD_CONNECT_RETRIES
	int "Number of times the device will try to reconnect to cloud"
	default 10

endif

endmenu # Cloud module

menu "UI module"

config UI_MODULE
	bool ""
	default y

if UI_MODULE

config UITHREAD_STACK_SIZE
	int ""
	default 256

endif

endmenu # UI module

menu "OUTPUT module"

config OUTPUT_MODULE
	bool ""
	select USE_UI_MODULE
	default y

if OUTPUT_MODULE

config OUTPUTTHREAD_STACK_SIZE
	int ""
	default 512

rsource "../ui/Kconfig"

endif

endmenu # OUTPUT module

menu "Data module"

config DATA_MODULE
	bool ""
	default y

if DATA_MODULE

config DATATHREAD_STACK_SIZE
	int ""
	default 2048

rsource "../cloud/cloud_codec/Kconfig"

endif

endmenu # Data module

menu "Sensor module"

config SENSOR_MODULE
	bool ""
	default y

if SENSOR_MODULE

config SENSORTHREAD_STACK_SIZE
	int ""
	default 1024

rsource "../ext_sensors/Kconfig"

endif

endmenu # Sensor module

menu "Utility module"

config UTIL_MODULE
	bool ""
	default y

if UTIL_MODULE

config UTILTHREAD_STACK_SIZE
	int ""
	default 1024

config REBOOT_TIMEOUT
	int "Sets the time from a fatal error or reboot request to reboot"
	default 30
	help
	  This option specifies the timeout that the utility module will
	  initiate a reboot regardless if the other modules has reported
	  that they are ready for a reboot or not.

endif

endmenu # Utility module
